<div class="container">
  <a [routerLink]="['/jugador-new']" class="btn btn-primary">NUEVO JUGADOR</a>

  <div class="row">
    <div class=" card col-lg-2" *ngFor="let jugador of jugadores">
      <div class="card-body">
        <img src="{{urljugador + jugador.imagen }}" alt="" width="150" height="150">
        <div class="clearfix"></div>

        {{jugador.nombrejugador}} {{jugador.apellido}}
        <br> {{jugador.posicion_juego}} - {{jugador.numero}}

      </div>
      <a [routerLink]="['/jugador-show/',jugador.id]" class="btn btn-primary">Ver mas detalles</a>
    </div>
  </div>

</div>