<div class="container">
    <a [routerLink]="['/equipo-new']" class="btn btn-primary mb-5">Crear Nuevo Equipo</a>
    <div class="row">
        <div class="card col-lg-4"  *ngFor="let equipo of equipos" style="width: 18rem;">
            <img src="{{imgequipo+equipo.imagen}}" class="card-img-top" alt="..." width="150" height="150">
            <div class="card-body">
                <h5 class="card-title">{{equipo.nombre}}</h5>
                <p class="card-text">{{equipo.categoria}}</p>
                <a [routerLink]="['/equipo-show/',equipo.id_equipo]" class="btn btn-primary">Ver mas detalles</a>
            </div>
        </div>
    </div>

</div>