<form  #ta="ngForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
        <label for="fecha">Fecha</label>
        <input type="date" name="fecha" class="form-control"
        #fecha="ngModel" [(ngModel)]=tarjeta_amarilla.fecha>
    </div>
    <div class="form-group">
        <label for="observaciones">Observaciones</label>
        <input type="text" name="observaciones" class="form-control"
        #observaciones="ngModel" [(ngModel)]=tarjeta_amarilla.observaciones>
    </div>
    <div class="form-group">
        <label for="jugador">Jugador</label>
        <ng-select [items]="jugadores"
        [virtualScroll]="true"
        bindLabel="nombrejugador"
        bindValue="id"
        name="jugadores"
        placeholder={{tarjeta_amarilla.nombrejugador}}
        [(ngModel)]="tarjeta_amarilla.jugador_id">
        </ng-select>
    </div>
    <button class="btn btn-primary">Actualizar Informacion</button>
</form>