<div class="container">
        <a [routerLink]="['/arbitraje-new']" class="btn btn-primary new">NUEVO ARBITRAJE</a>

        <table class="table table-striped">
          <thead>
            <tr>
                <th>Fecha</th>
                <th>Valor Cancelado</th>
                <th>Valor Restante</th>
                <th>Jugador</th>
                <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let datosarbitraje of arbitrajes">
                <td>{{datosarbitraje.fecha}}</td>
                <td>{{datosarbitraje.valor_cancelado}}</td>
                <td>{{datosarbitraje.valor_restante}}</td>
                <td>{{datosarbitraje.nombrejugador}} - {{datosarbitraje.cedula}}</td>
                <td>
                    <a [routerLink]="['/arbitraje-edit/', datosarbitraje.id_arbitraje]" class="btn btn-primary edit">Editar</a>
                    <a  (click)="delete(datosarbitraje.id_arbitraje)" class="btn btn-warning">Eliminar </a>
                </td>
              </tr>
          </tbody>
        </table>
   
</div>
