<div>
    <a [routerLink]="['/tamarillas-new']" class="btn btn-primary">Nuevo Registro</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Observaciones</th>
                <th>Jugador</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let datos of tarjeta_amarilla">
                <td>{{datos.fecha}}</td>
                <td>{{datos.observaciones}}</td>
                <td>{{datos.nombrejugador}}</td>
                <td>
                    <a [routerLink]="['/tamarillas-edit/',datos.id_ta]" class="btn btn-primary edit">Editar</a>
                    <a href="" class="btn btn-warning">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
